# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [235]:
import pandas as pd

## imports for Python, Pandas

In [236]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [237]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [238]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

/home/joseph/anaconda3/envs/mec-miniprojects/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [239]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

/home/joseph/anaconda3/envs/mec-miniprojects/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [240]:
# load json as string
js1 = json.load((open('data/world_bank_projects_less.json')))
for e in js1:
    print(e)
    print('\n\n')

{'_id': {'$oid': '52b213b38594d8a2be17c780'}, 'approvalfy': 1999, 'board_approval_month': 'November', 'boardapprovaldate': '2013-11-12T00:00:00Z', 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA', 'closingdate': '2018-07-07T00:00:00Z', 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET', 'countrycode': 'ET', 'countryname': 'Federal Democratic Republic of Ethiopia', 'countryshortname': 'Ethiopia', 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document', 'envassesmentcategorycode': 'C', 'grantamt': 0, 'ibrdcommamt': 0, 'id': 'P129828', 'idacommamt': 130000000, 'impagency': 'MINISTRY OF EDUCATION', 'lendinginstr': 'Investment Project Financing', 'lendinginstrtype': 'IN', 'lendprojectcost': 550000000, 'majorsector_percent': [{'Name': 'Education', 'Percent': 46}, {'Name': 'Education', 'Percent': 26}, {'Name': 'Public Administration, Law, and Justice', 'Percent': 16}, {'Name': 'Education', 'Percent': 12}], 'mjsector_namecode': [{'name': 'Education', 'code': 'EX'}, {'name': 'Education', 'code': 'EX'}, {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}, {'name': 'Education', 'code': 'EX'}], 'mjtheme': ['Human development'], 'mjtheme_namecode': [{'name': 'Human development', 'code': '8'}, {'name': '', 'code': '11'}], 'mjthemecode': '8,11', 'prodline': 'PE', 'prodlinetext': 'IBRD/IDA', 'productlinetype': 'L', 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'}, 'project_name': 'Ethiopia General Education Quality Improvement Project II', 'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.', 'DocType': 'PID', 'EntityID': '090224b081e545fb_1_0', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0', 'DocDate': '28-AUG-2013'}, {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1', 'DocType': 'IP', 'EntityID': '000442464_20130920111729', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729', 'DocDate': '01-JUL-2013'}, {'DocTypeDesc': 'Project Information Document (PID),  Vol.', 'DocType': 'PID', 'EntityID': '090224b0817b19e2_1_0', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0', 'DocDate': '22-NOV-2012'}], 'projectfinancialtype': 'IDA', 'projectstatusdisplay': 'Active', 'regionname': 'Africa', 'sector': [{'Name': 'Primary education'}, {'Name': 'Secondary education'}, {'Name': 'Public administration- Other social services'}, {'Name': 'Tertiary education'}], 'sector1': {'Name': 'Primary education', 'Percent': 46}, 'sector2': {'Name': 'Secondary education', 'Percent': 26}, 'sector3': {'Name': 'Public administration- Other social services', 'Percent': 16}, 'sector4': {'Name': 'Tertiary education', 'Percent': 12}, 'sector_namecode': [{'name': 'Primary education', 'code': 'EP'}, {'name': 'Secondary education', 'code': 'ES'}, {'name': 'Public administration- Other social services', 'code': 'BS'}, {'name': 'Tertiary education', 'code': 'ET'}], 'sectorcode': 'ET,BS,ES,EP', 'source': 'IBRD', 'status': 'Active', 'supplementprojectflg': 'N', 'theme1': {'Name': 'Education for all', 'Percent': 100}, 'theme_namecode': [{'name': 'Education for all', 'code': '65'}], 'themecode': '65', 'totalamt': 130000000, 'totalcommamt': 130000000, 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'}



{'_id': {'$oid': '52b213b38594d8a2be17c781'}, 'approvalfy': 2015, 'board_approval_month': 'November', 'boardapprovaldate': '2013-11-04T00:00:00Z', 'borrower': 'GOVERNMENT OF TUNISIA', 'country_namecode': 'Republic of Tunisia!$!TN', 'countrycode': 'TN', 'countryname': 'Republic of Tunisia', 'countryshortname': 'Tunisia', 'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document', 'envassesmentcategorycode': 'C', 'grantamt': 4700000, 'ibrdcommamt': 0, 'id': 'P144674', 'idacommamt': 0, 'impagency': 'MINISTRY OF FINANCE', 'lendinginstr': 'Specific Investment Loan', 'lendinginstrtype': 'IN', 'lendprojectcost': 5700000, 'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice', 'Percent': 70}, {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}], 'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice', 'code': 'BX'}, {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}], 'mjtheme': ['Economic management', 'Social protection and risk management'], 'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'}, {'name': 'Social protection and risk management', 'code': '6'}], 'mjthemecode': '1,6', 'prodline': 'RE', 'prodlinetext': 'Recipient Executed Activities', 'productlinetype': 'L', 'project_name': 'TN: DTF Social Protection Reforms Support', 'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1', 'DocType': 'PID', 'EntityID': '000333037_20131024115616', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616', 'DocDate': '29-MAR-2013'}, {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1', 'DocType': 'ISDS', 'EntityID': '000356161_20131024151611', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611', 'DocDate': '29-MAR-2013'}, {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1', 'DocType': 'ISDS', 'EntityID': '000442464_20131031112136', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136', 'DocDate': '29-MAR-2013'}, {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1', 'DocType': 'PID', 'EntityID': '000333037_20131031105716', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716', 'DocDate': '29-MAR-2013'}, {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1', 'DocType': 'ISDS', 'EntityID': '000356161_20130305113209', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209', 'DocDate': '16-JAN-2013'}, {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1', 'DocType': 'PID', 'EntityID': '000356161_20130305113716', 'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716', 'DocDate': '16-JAN-2013'}], 'projectfinancialtype': 'OTHER', 'projectstatusdisplay': 'Active', 'regionname': 'Middle East and North Africa', 'sector': [{'Name': 'Public administration- Other social services'}, {'Name': 'General public administration sector'}], 'sector1': {'Name': 'Public administration- Other social services', 'Percent': 70}, 'sector2': {'Name': 'General public administration sector', 'Percent': 30}, 'sector_namecode': [{'name': 'Public administration- Other social services', 'code': 'BS'}, {'name': 'General public administration sector', 'code': 'BZ'}], 'sectorcode': 'BZ,BS', 'source': 'IBRD', 'status': 'Active', 'supplementprojectflg': 'N', 'theme1': {'Name': 'Other economic management', 'Percent': 30}, 'theme_namecode': [{'name': 'Other economic management', 'code': '24'}, {'name': 'Social safety nets', 'code': '54'}], 'themecode': '54,24', 'totalamt': 0, 'totalcommamt': 4700000, 'url': 'http://www.worldbank.org/projects/P144674?lang=en'}

In [241]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 1. Find the 10 countries with most projects

In [242]:
# load as Pandas dataframe
long_json_df = pd.read_json('data/world_bank_projects.json')
long_json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sector                    500 non-null    object
 1   supplementprojectflg      498 non-null    object
 2   projectfinancialtype      500 non-null    object
 3   prodline                  500 non-null    object
 4   mjtheme                   491 non-null    object
 5   idacommamt                500 non-null    int64
 6   impagency                 472 non-null    object
 7   project_name              500 non-null    object
 8   mjthemecode               500 non-null    object
 9   closingdate               370 non-null    object
 10  totalcommamt              500 non-null    int64
 11  id                        500 non-null    object
 12  mjsector_namecode         500 non-null    object
 13  docty                     446 non-null    object
 14  sector1                   500 non-null    object
 15  lendinginstr              495 non-null    object
 16  countrycode               500 non-null    object
 17  sector2                   380 non-null    object
 18  totalamt                  500 non-null    int64
 19  mjtheme_namecode          500 non-null    object
 20  boardapprovaldate         500 non-null    object
 21  countryshortname          500 non-null    object
 22  sector4                   174 non-null    object
 23  prodlinetext              500 non-null    object
 24  productlinetype           500 non-null    object
 25  regionname                500 non-null    object
 26  status                    500 non-null    object
 27  country_namecode          500 non-null    object
 28  envassesmentcategorycode  430 non-null    object
 29  project_abstract          362 non-null    object
 30  approvalfy                500 non-null    int64
 31  projectdocs               446 non-null    object
 32  lendprojectcost           500 non-null    int64
 33  lendinginstrtype          495 non-null    object
 34  theme1                    500 non-null    object
 35  grantamt                  500 non-null    int64
 36  themecode                 491 non-null    object
 37  borrower                  485 non-null    object
 38  sectorcode                500 non-null    object
 39  sector3                   265 non-null    object
 40  majorsector_percent       500 non-null    object
 41  board_approval_month      500 non-null    object
 42  theme_namecode            491 non-null    object
 43  countryname               500 non-null    object
 44  url                       500 non-null    object
 45  source                    500 non-null    object
 46  projectstatusdisplay      500 non-null    object
 47  ibrdcommamt               500 non-null    int64
 48  sector_namecode           500 non-null    object
 49  _id                       500 non-null    object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [243]:
long_json_df.head(3)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

In [244]:
# Find the 10 countries with most projects
long_json_df.groupby('countryname').count()['project_name'].sort_values(ascending=False)[:10]

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [245]:
# long_json_df['mjtheme_namecode'][0][0]['code']
# pd.json_normalize(long_json_df['mjtheme_namecode'][2])
# long_json_df['mjtheme_namecode']
long_json_df['mjtheme'][:2]
# long_json_df.groupby('mjtheme').count()

0                                  [Human development]
1    [Economic management, Social protection and ri...
Name: mjtheme, dtype: object

In [246]:
# Find the top 10 major project themes (using column 'mjtheme_namecode')
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
bank_data = json.load(open('data/world_bank_projects.json'))
print(type(bank_data), len(bank_data))
# bank_data[1]

<class 'list'> 500

In [247]:
# Find the top 10 major project themes (using column 'mjtheme_namecode')
# In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
bank_df = json_normalize(bank_data, 'mjtheme_namecode')
bank_df.head(5)
# json_normalize(bank_data, 'mjtheme')

/home/joseph/anaconda3/envs/mec-miniprojects/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [275]:
bank_df[bank_df['code']=='1'][:10]

    code                 name
2      1  Economic management
88     1  Economic management
175    1  Economic management
204    1  Economic management
205    1  Economic management
212    1
220    1  Economic management
222    1  Economic management
223    1  Economic management
249    1  Economic management

In [273]:
bank_df.groupby('code').size().sort_values(ascending=False)[:10]

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
dtype: int64

### 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [284]:
# Here can see in the name column there is empty string 
bank_sort_df = bank_df.sort_values(['code','name'], ascending=False)
bank_sort_df[bank_sort_df['code']=='1']

     code                 name
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management
648     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
900     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
1057    1  Economic management
1078    1  Economic management
1206    1  Economic management
1212    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
1235    1  Economic management
1257    1  Economic management
1260    1  Economic management
212     1
363     1
1024    1
1114    1
1437    1

In [283]:
# This is to check if a group of code have empty name 
bank_sort_df.groupby('code').max()

                                              name
code
1                              Economic management
10                               Rural development
11    Environment and natural resources management
2                         Public sector governance
3                                      Rule of law
4         Financial and private sector development
5                            Trade and integration
6            Social protection and risk management
7                      Social dev/gender/inclusion
8                                Human development
9                                Urban development

In [279]:
# There are null values in the name column 
import numpy as np
bank_sort_fill_df = bank_sort_df.replace(to_replace='', value=np.nan)
bank_sort_fill_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 53 to 1437
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    1499 non-null   object
 1   name    1377 non-null   object
dtypes: object(2)
memory usage: 35.1+ KB

In [278]:
# After filling the nan, there is no null values 
bank_sort_fill_df.fillna(method='ffill', inplace=True)
bank_sort_fill_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 53 to 1437
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    1499 non-null   object
 1   name    1499 non-null   object
dtypes: object(2)
memory usage: 35.1+ KB

In [281]:
# Check if the result matches with question 2.
bank_sort_fill_df.groupby(['code','name']).size().sort_values(ascending=False)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
3     Rule of law                                      12
dtype: int64

In [280]:
# Here is the dataframe with the name filled 
bank_sort_fill_df.sort_index()

     code                                      name
0       8                         Human development
1      11                                       NaN
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]